* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("background.jpg");
}
h1 {
  color: #ffffff;
}
i,
svg {
  pointer-events: none;
}
.sequencer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5em;
}
.kick-pad {
  background-color: rgb(181, 91, 146);
}
.snare-pad {
  background-color: rgb(28, 181, 214);
}
.hihat-pad {
  background-color: rgb(217, 141, 204);
}

.kick-pad.active {
  background-color: rgb(182, 17, 118);
}
.snare-pad.active {
  background-color: rgb(23, 20, 212);
}
.hihat-pad.active {
  background-color: rgb(211, 44, 141);
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background-color: rgb(197, 158, 193);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(53, 48, 80);
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 3rem;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 1em 1.4em 1em 0.8em;
  width: 50%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #c7acc4;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #c7acc4;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #c7acc4 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight: normal;
}

.mute.active {
  background-color: rgb(145, 13, 13);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.3rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  background-color: rgb(28, 181, 214);
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
  color: #ffffff;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.12);
  }
}
