* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
i,
svg {
  pointer-events: none;
}
.sequencer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background-color: rgb(165, 199, 156);
}
.snare-pad {
  background-color: rgb(132, 197, 192);
}
.hihat-pad {
  background-color: rgb(138, 173, 218);
}

.kick-pad.active {
  background-color: rgb(74, 194, 44);
}
.snare-pad.active {
  background-color: rgb(21, 172, 159);
}
.hihat-pad.active {
  background-color: rgb(60, 127, 216);
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background-color: rgb(83, 144, 223);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: rgb(88, 88, 88);
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
